<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">

    <link href="{{ url_for('static',filename = 'css/style.css')  }}" rel="stylesheet">

    <title>ML Trainer</title>
</head>

<body>
    <!-- navbar -->
    <nav style="width: 100%;" class="navbar navbar-dark bg-secondary">
        <a class="  navbar-brand" href="#" style="margin-left: 25px;">
            <img src="{{ url_for('static',filename = 'image/logo.png')  }}" 
             class="img-responsive" style="margin-top:10px;style="width: auto; height: auto; min-width: 430px;min-height: 600px;">
          
            Supervised Machine Learning
            <label> Home Page <a href="/index" > Home  <a></label>
            Multi Variable Linear Regression Model Trainer...
        </a>
    </nav>
     


    <div class="container">

        <div class="jum" style="background-color: rgba(108, 117, 125, 0.7);">


            <h1 class="display-10" style="color: #fff;">Provide Details Below...</h1>
            <br>

            <form method="POST" action="/supervised/regression/linearRegression" enctype="multipart/form-data">
                <h4 style="color: #fff;">Upload your preprocessed dataset here:</h4>

                <div class="input-group">

                    <input type="file" class="form-control" name="my_dataset" accept=".csv,.xlsx">

                </div>
                <div style="margin-top: 10px; margin-left: 20px; color: white;">
                    <label> If your Dataset is not preprocessed yet <a href="/preprocessing"> Click Here <a></label>
                </div>

                <br>
                <div class="input-group">
                    <span class="input-group-text">Model Name</span>
                    <input type="text" value="LinearRegression" name="name_of_model" class="form-control">
                </div>

                <br><br>

                <button onclick="$('#loading').show();" type="submit" class="btn btn-outline-light">Train Model &#8987;
                </button>
            </form>
            <br>
            <div id="loading" style="display:none;">
                <center><img class="img img-fluid" style="height:auto;width: auto;"src="{{ url_for('static' , filename = 'image/Lding.gif') }}" alt="" /></center>
            </div>


        </div>
    </div>




    <!-- footer -->

    <br><br>
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Copyright@ Pritesh Kumar</h9>
            </marquee>
        </div>
    </div>
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>

</body>

</html>
